input {
    width: 0;
    height: 0;
    visibility: hidden;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.depression_animation {
    display: flex;
    position: relative;
    justify-content: center;
    background: white;
    align-items: center;
    height: 5rem;
    width: 15rem;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 2rem;
    background: linear-gradient(180deg, #FFF 43.8%, #D7D7D7 100%);
    border: 1px solid black;
    transition: .5s;
}

button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
