$font-color :#f0f6fa;
$bg-color :  #000;
$bg-color-05 : rgba(240, 246, 250, .1);
$primary-color : #ffce00;
$secondary-color : rgb(79, 187, 37);
$shadow-color : rgba(14, 14, 14, .3);

/* Color Theme Swatches Background Colors */
$black-cloud-on-blue-night-sky-1-rgba: rgba(10,36,89, 1);
$black-cloud-on-blue-night-sky-2-rgba: rgba(10,28,63, 1);
$black-cloud-on-blue-night-sky-3-rgba: rgba(21,62,114, 1);
$black-cloud-on-blue-night-sky-4-rgba: rgba(0,20,38, 1);
$black-cloud-on-blue-night-sky-5-rgba: rgba(43,95,140, 1);
